body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display:inline-block;
    margin-right: 20px;
    
}

nav a {
    color: #fff;
    text-decoration: none;
}

.tentang{
    padding: 100px;
    width: 88%;
}

.tentang h2{
    font-style: oblique;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    background-color: #babfc2;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-top: 0;
}
.img{
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 400px;
    height: auto;
    margin-bottom: 20px;
    padding-right: 10px;
}

#kontak{
    width: 100%;
    text-align: center;
}

.hubungi{
    list-style: none;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
}

@media screen and (max-width: 476px) {
    .img{
        width:100px;
    }
    
    header {
        width: 100%;
    }
    section {
        width: 100%;
    } 
}